# Python Bytecode files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Editor directories and files
.vscode/
.idea/
*.swp

# Log files
*.log

# Database files
*.sqlite3
*.db

# Operating system files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/

# Distribution / packaging
*.tar.gz
*.zip
*.egg-info/
dist/
build/
